<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<style>
	form{
		font-size: 35px;
	}
</style>
</head>
<body>
	<table width="650" border="1" align="center">
        <tr align="center">   
            <td>
                <h1>註冊會員</h1>
        <tr align="center" height="500">
            <td>
	            <form action="add" method="post">
		        姓名:<input type="text" name="memberName"><br>
		        帳號:<input type="text" name="username"><br>
		        密碼:<input type="password" name="password"><br>
		        電話:<input type="text" name="phone"><br>
		        地址:<input type="text" name="address"><br>
		        <input type="submit" value="ok">
	</form>
    </table>
</body>
</html>